body {
  margin: 0;
}
#graph-container {
  position: absolute;
  width: 70%;
  height: 80%;
  border: 2px dotted #f1f1f1;
  display: block;
  left: 5%;
}

#output {
  position: absolute;
  display: block;
  width: 19%;
  right: 5%;
  height: 80%;
  border: 1px solid #f1f1f1;
  font-family: "lucida console";
  font-size: 80%;
}

.spacer {
  display: inline-block;
  width: 15px;
}